header { display:flex;
flex-direction: row;
}

#logo_name {
    display:flex;
    justify-content: start;
}

#button-container {
    display:flex;
    justify-content: end;
    align-items: center;
    gap: 2px;
    padding: 2px;
}
#logo_img

{ 
    display:flex;
    width: 30vw;
    height: 30vh;
    margin: 0 83vw;
}